PORT=5000
# Atlas -> Connect -> Drivers -> copy string, add DB name "cityhospital"
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/cityhospital?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_long_random_string
ADMIN_KEY=change_this_admin_key
